/* a {
  text-decoration: none;
  color: #0aad0a;
}

a:hover {
  color: #088a08;
} */

.mt-5 {
  margin-top: 1.75rem !important
}

.mt-6 {
  margin-top: 2rem !important
}

.mt-7 {
  margin-top: 2.25rem !important
}

.mt-8 {
  margin-top: 2.5rem !important
}

.my-5 {
  margin-bottom: 1.75rem !important;
  margin-top: 1.75rem !important
}

.my-6 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important
}

.my-7 {
  margin-bottom: 2.25rem !important;
  margin-top: 2.25rem !important
}

.my-8 {
  margin-bottom: 2.5rem !important;
  margin-top: 2.5rem !important
}

table {
  border-collapse: collapse;
}

/* -------- index page -------- */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
@font-face {
  font-family: SamsungOne;
  src: url(/static/font/SamsungOne.ttf);
}

@font-face {
  font-family: SamsungSharpSans;
  src: url(/static/font/SamsungSharpSans.ttf);
}

.font-SamsungOne {
  font-family: SamsungOne;
}

.font-SamsungSharpSans {
  font-family: SamsungSharpSans;
}

.navbar {
  background: whitesmoke;
  font-family: SamsungOne;
}

.navbar-brand {
  font-size: 1.75rem;
  color: black;
  margin-right: 25px;
  font-weight: bold;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.nav-link {
  color: black;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-link:hover {
  color: #0d6efd;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: whitesmoke;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.sm-icons {
  flex-direction: row;
}

.carousel-item {
  width: 100%;
}

.carousel-caption {
  top: 39%;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 2;
}

.carousel-caption btn {
  margin-top: 10px;

}

.carousel-caption .btn-primary {
  background-color: #0d6efd;
  border: 1px solid white;
  font-size: 22px;
}

.carousel-caption .btn-primary:hover {
  background-color: #3c6cb4;
  border: 1px solid white;
}

.darkened::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.60);
  z-index: 1;
}

@media (max-width: 992px) {
  .carousel-caption {
    top: 35%;
  }

  .carousel-caption h5 {
    font-size: 37px;
  }

  .carousel-caption p {
    font-size: 15px;
  }

  .carousel-caption .btn {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 20%;
  }

  .carousel-caption h5 {
    font-size: 30px;
  }

  .carousel-caption p {
    font-size: 13px;
  }

  .carousel-caption .btn {
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 15%;
  }

  .carousel-caption h5 {
    font-size: 25px;
  }

  .carousel-caption p {
    font-size: 11px;
  }

  .carousel-caption .btn {
    font-size: 14px;
  }
}

@media (max-width: 480px){
	.carousel-caption {
		top: 13%;
	}
	.carousel-caption h5{
		font-size: 20px;
	}
	.carousel-caption p{		
		font-size: 10px;		
	}
	.carousel-caption .btn {		
		font-size: 12px;
	}	
}

.list-product-title {
  width: 100%;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;

}

.list-product-subtitle {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}


.card-product {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
}

.product-title {
  margin-bottom: 0.25rem;
}

.card-text .product-price {
  position: relative;
}

.btn-add-to-cart {
  background-color: #3a5c83;
  color: white;
}

.btn-add-to-cart:hover {
  background-color: #f90;
}

.btn-detail {
  border: 1px solid #3a5c83;
}

.btn-detail:hover {
  color: white;
  background-color: #3a5c83;
}

/* Footer */
.social a {
  font-size: 30px;
  padding: 10px;
}

.bi-facebook {
  color: #0d6efd;
}

.bi-instagram {
  color: #d6249f;
}

.bi-youtube {
  color:#bb0000;
}